<div class="lineUp">
    <h2 class="lineUp__ttl">LINEUP</h2>
    <ul class="skinCareList">
      <li class="skinCareList__item">
        <a href="/products/skincare-serum" class="itemLink">
          <div class="skinCareImg">
            <img
            src="{{ 'serum_item.png' | asset_img_url }}"
            data-src="{{ 'serum_item.png' | asset_img_url: 'master' }}"
            data-widths="[375, 750, 1125]"
            data-sizes="auto"
            alt="" class="lazyload">
          </div>
          <h3 class="skinCareItemTtl">SERUM<span>ローション美容液</span></h3>
          <p class="skinCareItemPrice nova">¥3,850</p>
        </a>
        <p class="skinCareItemTxt">化粧水感覚で使える、みずみずしいオールインワン美容液。水の代わりに農園で収穫したダマスクローズ、ロースヒップ、「かおりかざり」の生体水をベースにした贅沢な処方。</p>
      </li>
      <li class="skinCareList__item">
        <a href="/products/skincare-oilserum" class="itemLink">
          <div class="skinCareImg">
            <img
            src="{{ 'oil_serum_item.png' | asset_img_url }}"
            data-src="{{ 'oil_serum_item.png' | asset_img_url: 'master' }}"
            data-widths="[375, 750, 1125]"
            data-sizes="auto"
            alt="" class="lazyload">
          </div>
          <h3 class="skinCareItemTtl">OIL SERUM<span>オイル美容液</span></h3>
          <p class="skinCareItemPrice nova">¥7,480</p>
        </a>
        <p class="skinCareItemTxt">ダマスクローズの花びらをスクワランオイルで超高圧抽出。ダマスクバラ花油とスクワランだけで作った、シンプルで滋養たっぷりのオイル美容液。WABARAならではの繊細な香り。</p>
      </li>
      <li class="skinCareList__item">
        <a href="/products/skincare-claypack" class="itemLink">
          <div class="skinCareImg">
            <img
            src="{{ 'clay_pack_item.png' | asset_img_url }}"
            data-src="{{ 'clay_pack_item.png' | asset_img_url: 'master' }}"
            data-widths="[375, 750, 1125]"
            data-sizes="auto"
            alt="" class="lazyload">
          </div>
          <h3 class="skinCareItemTtl">PEATAL CLAY PACK<span>塗るマスク</span></h3>
          <p class="skinCareItemPrice nova">¥6,270</p>
        </a>
        <p class="skinCareItemTxt">乾燥させたダマスクローズの花びらを微粉末加工した「ローズペタルクレイ」とスクワランだけで作った塗るマスク。水で溶きペースト状にしてなじませると、しっとり柔らかな肌に。</p>
      </li>
    </ul>

    <div class="glayBack"></div>
</div>

<div class="skinCareSet">
    <a href="/products/skincare-set" class="skinCareSet__link">
      <div class="setImg">
        <img
        src="{{ 'skin_care_set.png' | asset_img_url }}"
        data-src="{{ 'skin_care_set.png' | asset_img_url: 'master' }}"
        data-widths="[375, 750, 1125]"
        data-sizes="auto"
        alt="" class="lazyload">
      </div>
      <div class="setContent">
        <h2 class="setContent__ttl">SKINCARE SET</h2>
        <h3 class="setContent__subttl">スキンケア3点セット</h3>
        <p class="skinCareItemPrice nova">¥16,500</p>
        <p class="setContent__txt">WABARAスキンケアの粋を楽しめるSERUM、OIL SERUM 、PETAL CLAY PACKのセット。バラの恵みをピュアに届ける処方で、なめらかで、つややかな素肌に導きます。</p>
      </div>
    </a>
</div>