<!-- sections/product-cosmetics-content.liquid -->
<header class="titleComponent">
  <h2 class="heading is-primary nova uppercaseTitle"><span>About</span></h2>
</header>
<div class="aboutContent">
  <ul class="aboutContent__list">
      <li class="listItem">
          <div class="listItem__content">
              <h2 class="itemTtl">水の代わりに、摘みたてのばらから抽出した<br>｢ばらの生体水」を使用</h2>
              <ul class="itemTxtList">
                  <li class="itemTxtList__child">SERUM には、新鮮なばらから低温真空抽出した「ばらの生体水」を約90%使用した贅沢配合。「かおりかざり」と「ダマスクローズ」の花びら、「ローズヒップ」から抽出した「ばらの生体水」をブレンドした、WABARAそのものの香りと恵みをピュアに閉じ込めたローションタイプの美容液です。</li>
              </ul>
          </div>
          <div class="listItem__img">
              <img src="{{ 'serum_about_img_01.jpg' | asset_img_url }}" data-src="{{ 'serum_about_img_01.jpg' | asset_img_url: 'master' }}" data-widths="[375, 750, 1125]" data-sizes="auto" alt="" class="lazyload">
          </div>
      </li>
      <li class="listItem">
          <div class="listItem__img">
              <img src="{{ 'serum_about_img_02.jpg' | asset_img_url }}" data-src="{{ 'serum_about_img_02.jpg' | asset_img_url: 'master' }}" data-widths="[375, 750, 1125]" data-sizes="auto" alt="" class="lazyload">
          </div>
          <div class="listItem__content">
              <h2 class="itemTtl">みずみずしいのに、一本でスキンケアが完了する<br>オールインワン処方</h2>
              <ul class="itemTxtList">
                  <li class="itemTxtList__child">3種の「ばらの生体水」をベースに、保水力に優れたスイゼンジノリ多糖体や3種のセラミド、はちみつなどの保湿成分をたっぷりと配合。「シカケア」でおなじみのツボクサエキスをはじめ、鎮静や抗酸化に優れた植物成分を厳選してブレンドしました。ローション感覚のみずみずしいテクスチャーながら、1本でスキンケアが完了するオールインワン処方。季節や肌質、ジェンダーを問わずにお使いいただけます。</li>
              </ul>
          </div>
      </li>
  </ul>
</div>

<div class="detailContent">
  <div class="contentWidth">
      <div class="detailContent__top">
          <div class="texture">
              <h2 class="texture__ttl">TEXTURE</h2>
              <div class="texture__img">
                  <img src="{{ 'serum_texture_img.jpg' | asset_img_url }}" data-src="{{ 'serum_texture_img.jpg' | asset_img_url: 'master' }}" data-widths="[375, 750, 1125]" data-sizes="auto" alt="" class="lazyload">
              </div>
          </div>

          <div class="howTo">
              <h2 class="howTo__ttl">HOW TO USE</h2>
              <div class="howTo__content">
                  <p class="howToTxt">手のひらにSERUMを500円玉大とり、顔全体にやさしくなじませます。乾燥が気になる部分には重ねづけを。</p>
              </div>
          </div>
      </div>

      <div class="detailContent__bottom">
          <div class="ingredients">
              <h2 class="ingredients__ttl">INGREDIENTS</h2>
              <ul class="ingredients__list ingredients__serumlist">
                  <li class="ingredientsItem">
                      <h3 class="ingredientsItem__subttl">DAMASK ROSE WATER</h3>
                      <h3 class="ingredientsItem__ttl">ダマスクローズ<br>生体水</h3>
                      <p class="ingredientsItem__txt">ブルガリアのバラの谷で育てられている品種をROSE FARM KEIJIならではの土と栽培法で育成。除草をしすぎず、あえて野生に近い環境でワイルドに育てることで、花に備わった力を引き出しました。ガクを残して、花弁のみを丁寧に摘み取り、低温真空抽出法で加工。ばらの花びらに含まれる水分のみを抽出した、馥郁としたやわらかな香りの「ばらの生体水」。</p>
                  </li>
                  <li class="ingredientsItem">
                      <h3 class="ingredientsItem__subttl">ROSEHIP WATER</h3>
                      <h3 class="ingredientsItem__ttl">ローズヒップ<br>生体水</h3>
                      <p class="ingredientsItem__txt">WABARAの栽培と同じ土と環境で、無肥料無農薬で大切に育てたローズヒップ（ばらの実）を、一粒ひとつぶ手摘みして、すぐに低温真空抽出。ローズヒップそのものの水分のみを抽出した、ローズヒップの「ばらの生体水」。フルーティーで華やかな香り。</p>
                  </li>
                  <li class="ingredientsItem">
                      <h3 class="ingredientsItem__subttl">KAORIKAZARI WATER</h3>
                      <h3 class="ingredientsItem__ttl">かおりかざり<br>生体水</h3>
                      <p class="ingredientsItem__txt">「香りを飾る」ことをコンセプトに当園のばら作家・國枝啓司作出したオリジナル品種「かおりかざり」を贅沢に使用。少しフルーティな麗しい香りが広がります。ガクを残して、花弁だけを丁寧に摘み取り、低温真空抽出法で加工。ばらの花びらに含まれる水分のみを抽出し、WABARAならではの恵みを余すところなく活かした「ばらの生体水」。</p>
                  </li>
              </ul>
          </div>
      </div>

      <div class="detailContent__accordion">
          <ul class="accordionList" id="accordionList">
              <li class="accordionList__item">
                  <h2 class="cosmeticsTitle is-open">
                      <span>全成分表示</span>
                      <span class="arrowIcon"></span>
                  </h2>
                  <div class="cosmeticsContent">
                      <p class="cosmeticsContent__txt">ダマスクバラ花エキス、カニナバラ果実エキス、ハイブリッドローズ花エキス、プロパンジオール、ハチミツ、ペンチレングリコール、水、スイゼンジノリ多糖体、セラミドAP、セラミドNP、グルコシドセラミド、加水分解オクラ種子エキス、カミツレ花エキス、ミルシアリアデュビア果実エキス、ツクボサエキス、イタドリ根エキス、オウゴンエキス、チャ葉エキス、ローズマリー葉エキス、カンゾウ根エキス、α-グルカン、PEG-60水添ヒマシ油、デキストリン、クエン酸、クエン酸Na、BG、1-2ヘキサンジオール</p>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>

<div class="detailCommonContent">
  {% render 'cosmetics-products-lineup' %}

  <div class="aboutWabara">
      <a href="/pages/about" class="aboutWabara__link">WHAT IS WABARA?<span>わばらをはじめて知る方へ</span></a>
  </div>
</div>


