<!-- sections/product-cosmetics-content.liquid -->
<header class="titleComponent">
  <h2 class="heading is-primary nova uppercaseTitle"><span>About</span></h2>
</header>
<div class="aboutContent">
  <ul class="aboutContent__list">
      <li class="listItem">
          <div class="listItem__content">
              <h2 class="itemTtl">ダマスクローズの花びらと<br>スクワランで作ったパック</h2>
              <ul class="itemTxtList">
                  <li class="itemTxtList__child">無肥料無農薬で大切に育てたダマスクローズの花びらを、熱を加えずパウダー化。この花びらそのもののパウダーに、植物性スクワランを加えたのが「ローズペタルクレイパック」 です。パウダー加工することでバラの成分がしっかりと溶け出し、濃厚なマスクが完成しました。</li>
              </ul>
          </div>
          <div class="listItem__img">
              <img src="{{ 'clay_about_img_01.jpg' | asset_img_url }}" data-src="{{ 'clay_about_img_01.jpg' | asset_img_url: 'master' }}" data-widths="[375, 750, 1125]" data-sizes="auto" alt="" class="lazyload">
          </div>
      </li>
      <li class="listItem">
          <div class="listItem__img">
              <img src="{{ 'clay_about_img_02.jpg' | asset_img_url }}" data-src="{{ 'clay_about_img_02.jpg' | asset_img_url: 'master' }}" data-widths="[375, 750, 1125]" data-sizes="auto" alt="" class="lazyload">
          </div>
          <div class="listItem__content">
              <h2 class="itemTtl">開発者も驚いた。<br>ばらそのものの恵みでスペシャルケア</h2>
              <ul class="itemTxtList">
                  <li class="itemTxtList__child">生チョコレートのようなテクスチャーに、水を混ぜてお好みの硬さのペースト状にして塗るホームメイド感覚の塗るパック。スパチュラ一杯で全顔に使えるので、毎日使っても約１か月、スペシャルケアとして週１、２回なら約3ヶ月もつコストパフォーマンスも自慢です。バラの成分たっぷりの花びらを惜しみなく使えるのは、ばら農園だからこそ。使い続けるほどに肌がむっちり柔らかくなり、開発担当者も驚いたほど。</li>
              </ul>
          </div>
      </li>
  </ul>
</div>

<div class="detailContent">
  <div class="contentWidth">
      <div class="detailContent__top">
          <div class="texture">
              <h2 class="texture__ttl">TEXTURE</h2>
              <div class="texture__img clayImg">
                  <img src="{{ 'clay_texture_img.jpg' | asset_img_url }}" data-src="{{ 'clay_texture_img.jpg' | asset_img_url: 'master' }}" data-widths="[375, 750, 1125]" data-sizes="auto" alt="" class="lazyload">
              </div>
          </div>

          <div class="howTo">
              <h2 class="howTo__ttl">HOW TO USE</h2>
              <div class="contentFlex">
                <div class="contentImg">
                  <img src="{{ 'clay_howto_img.jpg' | asset_img_url }}" data-src="{{ 'clay_howto_img.jpg' | asset_img_url: 'master' }}" data-widths="[375, 750, 1125]" data-sizes="auto" alt="" class="lazyload">
                </div>
                <ul class="contentTxt">
                   <li class="contentTxt__item">スパチュラ一杯（米２粒分ほど）分を手のひらにとり、水またはぬるま湯と混ぜてお好みの硬さのペースト状にする。</li>
                   <li class="contentTxt__item">目の周りを避け顔全体になじませ、パックが乾いてきたら洗い流す。お好みで首元やデコルテになじませても。</li>
                </ul>
            </div>
              <div class="howTo__content clayContent">
                  <p class="howToTxtClay">週に1、2回のスペシャルケアとしても、デイリーケアとしてもお使いいただけます。</p>
              </div>
          </div>
      </div>

      <div class="detailContent__bottom">
          <div class="ingredients">
              <h2 class="ingredients__ttl">INGREDIENTS</h2>
              <ul class="ingredients__list ingredients__claylist">
                  <li class="ingredientsItem">
                      <h3 class="ingredientsItem__subttl">DAMASK ROSE WATER</h3>
                      <h3 class="ingredientsItem__ttl">ダマスクローズ<br>生体水</h3>
                      <p class="ingredientsItem__txt">ブルガリアのバラの谷で育てられている品種をROSE FARM KEIJIならではの土と栽培法で育成。除草をしすぎず、あえて野生に近い環境でワイルドに育てることで、花に備わった力を引き出しました。ガクを残して、花弁のみを丁寧に摘み取り、低温真空抽出法で加工。ばらの花びらに含まれる水分のみを抽出した、馥郁としたやわらかな香りの「ばらの生体水」。</p>
                  </li>
                  <li class="ingredientsItem">
                      <h3 class="ingredientsItem__subttl">ROSE PETAL CLAY</h3>
                      <h3 class="ingredientsItem__ttl">ローズペタル<br>クレイ</h3>
                      <p class="ingredientsItem__txt">無肥料無農薬で大切に育てたダマスクローズの花びらを、熱を加えずパウダー化。花びらそのものの魅力を凝縮した、パウダーです。</p>
                  </li>
                  <li class="ingredientsItem">
                      <h3 class="ingredientsItem__subttl">SQUALANE</h3>
                      <h3 class="ingredientsItem__ttl">スクワラン</h3>
                      <p class="ingredientsItem__txt">ダマスクローズオイルとの相性にこだわって厳選された、サトウキビ由来の植物性スクワランオイル。医薬部外品基準の質の高いオイルです。伸びの良いテクスチャーで、ダマスクローズオイルの魅力を最大限に引き立てます。</p>
                  </li>
              </ul>
          </div>
      </div>

      <div class="detailContent__accordion">
          <ul class="accordionList" id="accordionList">
              <li class="accordionList__item">
                  <h2 class="cosmeticsTitle is-open">
                      <span>全成分表示</span>
                      <span class="arrowIcon"></span>
                  </h2>
                  <div class="cosmeticsContent">
                      <p class="cosmeticsContent__txt">スクワラン、ダマスクバラ花、パルミチン酸デキストリン</p>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>

<div class="detailCommonContent">
  {% render 'cosmetics-products-lineup' %}

  <div class="aboutWabara">
      <a href="/pages/about" class="aboutWabara__link">WHAT IS WABARA?<span>わばらをはじめて知る方へ</span></a>
  </div>
</div>


