<!-- /templates/page.about.liquid -->
<div class="staticPage aboutPage">
  <section class="">
    <header class="titleComponent">
      <h1 class="heading is-primary nova uppercaseTitle"><span>{{ page.title }}</span></h1>
    </header>
    <ul class="ankerNav heading nova uppercaseTitle">
      <li><a href="#wabara">WABARA</a></li>
      <li><a href="#farm">Farm</a></li>
      <li><a href="#toHome">Farm to home</a></li>
      <li><a href="#history">History</a></li>
      <li><a href="#world">To the world</a></li>
    </ul>
    <div class="staticPageHeaderBg">
      <span class="hidden-phone">
        <img
          src="{{ 'about_header_bg_pc.jpg' | asset_img_url }}"
          data-src="{{ 'about_header_bg_pc.jpg' | asset_img_url: 'master' }}"
          data-widths="[1150, 2300, 3450]"
          data-sizes="auto"
          alt="" class="lazyload">
      </span>
      <span class="visible-phone">
        <img
          src="{{ 'about_header_bg_sp.jpg' | asset_img_url }}"
          data-src="{{ 'about_header_bg_sp.jpg' | asset_img_url: 'master' }}"
          data-widths="[375, 750, 1125]"
          data-sizes="auto"
          alt="" class="lazyload">
      </span>
    </div>

    <section id="wabara" class="wabaraSection contentSubComponent">
      <h2 class="aboutLogo">
        <img
          src="{{ 'common_logo_wabara.png' | asset_img_url }}"
          data-src="{{ 'common_logo_wabara.png' | asset_img_url: 'master' }}"
          data-widths="[186, 372, 558]"
          data-sizes="auto"
          alt="wabara" class="lazyload">
      </h2>
      <div class="staticTextWrap is-center">
        <p>一本の花で、人生が変わるかもしれない</p>
        <p>花を飾ると、なぜだかほっとする。</p>
        <p>その和んだ気持ちが少しのゆとりになって、</p>
        <p>身の回りや言葉を整える。</p>
        <p>身の回りや言葉が整えば、</p>
        <p>自然と会話に笑顔が生まれる。</p>
        <p>笑顔が生まれる空間は、とっても幸せ。</p>
        <p>日々の暮らしに「ときめき」があれば、毎日がきらめく。</p>
        <p>心ときめく、ばらを生み出そう。</p>
      </div>

      <div class="aboutPortrait">
        <section class="aboutPortraitChild">
          <div>
            <img
              src="{{ 'about_portrait_creator.jpg' | asset_img_url }}"
              data-src="{{ 'about_portrait_creator.jpg' | asset_img_url: 'master' }}"
              data-widths="[360, 720, 1080]"
              data-sizes="auto"
              alt="" class="lazyload">
          </div>
          <h3 class="heading aboutPortraitName">
            <span class="name">國枝啓司</span>
            <span class="name nova">KEIJI KUNIEDA</span>
          </h3>
          <p>1956年、滋賀県生まれ。<br>1976年に父である國枝栄一が営むバラ園に就農しキャリアをスタート。<br>1981年、フランス、ドイツ、オランダでの研修で学んだ思想や技術をもとに、いつか「世界中の花屋さんに並ぶバラを作る」ことを夢見て育種家としての活動を開始。<br>1993年に今上天皇と雅子皇后のご成婚時に雅子皇后自ら選んでいただいたバラ「プリンセスマサコ」を献上。<br>2003年独立し、現ばら園「ローズファームケイジ」を設園。<br>2006年、日本の文化・美意識を反映した草花のようなばらのシリーズ「和ばら」をスタート。<br>そこから約１０年をかけて慣行栽培から土耕栽培への移行を実施するとともに、全てオリジナル品種「和ばら」のみを栽培する農園となる。<br>現在まで60品種あまりを世に出す。</p>
          <p>「WABARA」として海外でも高い評価を受け、現在ケニア、コロンビア、アメリカ、イギリス、メキシコ、フランスに提携農園があり、2017年より世界に向け出荷開始。<br>当初志した世界中の花屋さんに並ぶバラの夢が実現し始める。</p>
          <p>好きな花はコスモス。まさかの答えだが、風にたなびくばらを目指す由縁である。</p>
        </section>
        <section class="aboutPortraitChild">
          <div>
            <img
              src="{{ 'about_portrait_producer.jpg' | asset_img_url }}"
              data-src="{{ 'about_portrait_producer.jpg' | asset_img_url: 'master' }}"
              data-widths="[360, 720, 1080]"
              data-sizes="auto"
              alt="" class="lazyload">
          </div>
          <h3 class="heading aboutPortraitName">
            <span class="name">國枝健一</span>
            <span class="name nova">KENICHI KUNIEDA</span>
          </h3>
          <p>1981年、啓司が育種家としてキャリアをスタートした年に誕生。<br>幼少より、父母が勤めるバラ園に同行し、日々そこで過ごす。<br>高校、大学と県外に進学し、ばらとは無縁の生活を送る。<br>2006年、東京でサラリーマンを半年で辞め、起業しようと思った際に、実家のバラ園のことを思い出す。<br>都内在住時にバラを贈る度に喜ばれていたこと、翻って幼少期より知る生産農家は、花市場への出荷のみでお客さんの喜ぶ顔や声を知らないことに気づき、生産者は可能性の塊であると感じ就農を決意。<br>滋賀に戻ってすぐに見た、父の作出する名前のない新たな品種たちのたおやかな姿に触れ、そのばらたちを「和ばら」と銘打つ。<br>また全国各地の高名なばら農家が作るバラに触れる中で、自分が感動する花が全て土で栽培されているバラだということに気づき、それまでの養液栽培（≒水耕栽培）から土耕栽培に変更することを決意。奇しくもその直後に奇跡的に土づくりの師である故山本賢氏と出会う。</p>
          <p>「農業は量子力学」という言葉と日々の調査、その一方で膨大なデータの中で見出した法則を決して断言せず、日々自分の農場を観察し、感じることを説く師の哲学に感銘を受け、現在の和ばらの栽培方法の基礎であり、デザイン、アウトプット含めて「全ての答えは農園にある」こと、「営み全てが和ばらである」ことの礎となる。<br>祖父より三代に渡りばらに携わることの意味として、自らのミッションを「ばらの可能性を拡げること」と掲げ、ばらの本質、根源を大切にしながら、今までにないばらの面白さ、魅力を見出し発信していく活動を行う。</p>
        </section>
      </div>

    </section>

    <section id="farm" class="farmSection contentSubComponent">
      <h2 class="heading is-primary nova uppercaseTitle">Farm</h2>
      <div>
        <img
          src="{{ 'about_farm_photo.jpg' | asset_img_url }}"
          data-src="{{ 'about_farm_photo.jpg' | asset_img_url: 'master' }}"
          data-widths="[800, 1600, 2400]"
          data-sizes="auto"
          alt="" class="lazyload">
      </div>
      <h3 class="heading">営み全てが和ばらである</h3>
      <p>Farmの風景、土、空気、私たちの気配。<br>見えるもの、見えないもの、その全てが関わって、その一つの結晶として、和ばらが咲いていると考えています。</p>
    </section>

    <section id="toHome" class="toHomeSection">
      <header class="toHomeHeader">
        <h2 class="heading is-primary nova uppercaseTitle">Farm to home</h2>
        <p>和ばらがお手元に届くまで</p>
      </header>
      {% section 'about-to_home' %}
    </section>

    <section id="history" class="historySection contentSubComponent">
      <h2 class="heading is-primary nova uppercaseTitle">History</h2>
      {% section 'about-history' %}
    </section>

    <section id="world" class="worldSection contentSubComponent">
      <header>
        <h2 class="heading is-primary nova uppercaseTitle">To the world</h2>
        <p>「世界の花屋さんに並ぶバラを作りたい」と夢を抱き始めた育種は、和ばらという形となり、想いに共感してくださった世界各国のパートナーのファームでも栽培され、そこから世界各国に向けて出荷されています。</p>
      </header>
      <div>
        <img
          src="{{ 'about_world_map.jpg' | asset_img_url }}"
          data-src="{{ 'about_world_map.jpg' | asset_img_url: 'master' }}"
          data-widths="[800, 1600, 2400]"
          data-sizes="auto"
          alt="" class="lazyload">
      </div>
      {% section 'about-world' %}
    </section>

  </section>
</div>
