<div class="staticPage collectionPage">
  <div id="deliverContents">
    <section class="">
      <header class="titleComponent">
        <h1 class="heading is-primary nova uppercaseTitle with-line"><span>{{page.title}}</span></h1>
      </header>
      <div class="staticMv staticWrapComponent">
        {% section 'deliver-static-mainvisual' %}
      </div>

      <section class="staticSection charlotteSection">

        <div class="staticWrapComponent">
          <section>

             <p><span class="heading bold">WABARA TOKYO DELIVERY SERVICE</span><br>もっと自由に、もっと気軽に、和ばらを楽しむデリバリーサービス。</p>
          <p>ご自宅や会社だけでなく、出先のカフェやレストラン、駅の出口などにお花をお届けできます。<br>箱などはなく、お花屋さんでお花を買ったように、バッグに入ったお花をお届け。</p>
          <p>自転車やバイクで配達員がご指定の場所までお待ちし、お花を手渡しでお届けいたします！</p>

          <p>
            <iframe class="hidden-phone" src="https://player.vimeo.com/video/755045851?h=1c0be77651" width="800" height="450" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <iframe class="visible-phone" src="https://player.vimeo.com/video/755045851?h=1c0be77651" width="100%" height="auto" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          </p>
                    
             <p><span class="heading bold">お届け可能地域：</span><br>送料無料エリア：港区、渋谷区、新宿区、目黒区、中央区、千代田区、文京区、豊島区、中野区<br> +¥330エリア：世田谷区、杉並区、品川区、台東区、江東区、墨田区、荒川区<br>+¥880エリア：練馬区、板橋区、北区、大田区</strong><br> 商品のオプション選択時に、お届け先エリアを選択してください。</p>
   
            <div class="blockChildContent imgSquareFit">
	            <img src="{{ 'tokyo_map.png' | asset_img_url }}" data-src="{{ 'tokyo_map.png' | asset_img_url: 'master' }}" data-widths="[730, 1600]" alt="" width="800" height="870" class="lazyload hidden-phone">
            	<img src="{{ 'tokyo_map_sp.png' | asset_img_url }}" data-src="{{ 'tokyo_map_sp.png' | asset_img_url: 'master' }}" data-widths="[730, 1600]" alt="" width="800" height="870" class="lazyload visible-phone">
            </div>

            <p>&nbsp;</p>
             <p><span class="heading bold">配達会社：</span><br>Diaq (ダイヤク) 様</p>
             
             <p>お花のピックアップからお渡しまで最大約1時間。農園から毎日届く新鮮なばらを、一輪一輪状態を確認して東京店で束ね、お届けいたします。<br><br>ブーケの方は三角バッグでお届け。わばら束の方はワンハンドルバッグなど簡易包装でお届けします。バッグに入ったお花がそのまま届くので、お花屋さんでお花を買った場合と同じ形で受け取ることができます。（＊箱は付属いたしません）</p>
            <p>お受け取りは、ご自宅や会社以外の場所でも可能。出先のカフェやレストラン、公共施設、駅の出口などでの待ち合わせでの受け取りも可能です。（＊1時間のご指定時間に必ずいらっしゃる場合に限ります)<br> ご住所と目印となるものや場所を明記いただければ、お届けさせていただくことが可能です。（＊こちらの場合は置き配はご対応ができません）<br> もっと自由に、もっと気軽に、和ばらを楽しむことのできる「WABARA TOKYO DELIVERY」ぜひご利用ください。<br> ＊詳細なご要望は、オプションページの特記事項欄にご記入ください。 <br></p>

             <p><span class="heading bold">お届け時間：</span><br>平日：14時〜20時<br>土/日/祝：10時〜18時<br>こちらのお届け時間よりご希望の時間帯（1時間）をお選びいただき、お届けいたします。</p>
             
             <p><span class="heading bold">定休日：</span><br>火・水曜日</p>
             
             
             
           <p><span style="color: #ff2a00;"><strong>＊通常の弊社のオンラインストアの商品（ヤマト運輸宅急便）とは、配送方法が異なりますのでご注意ください。<br>＊お届け対象地区以外への配達はできかねます。対象地区以外のお届け先をご入力いただいた場合にはキャンセルとなりますのでご了承ください。<br>＊対象地区以外へのお届けをご希望の方は<a href="https://www.wabararose.com/pages/home-wabara" target="_blank">こちら(宅配便/全国発送可能)</a>よりご注文をお願いいたします。</strong></span><br>＊バッグなどの梱包資材は予告なく変更になる場合があります。
            <p><span class="heading bold">＜ご注意＞（必ずご注文前にご確認ください）</span>
              <br>お受け取りは1時間ごとにご指定が可能です。必ずお受け取り可能なお時間でご注文ください。<br>不在の場合や、住所不明の場合などは<span style="text-decoration: underline;"><strong>配達会社のDiaq(ダイヤク)さまの配達員さんよりお届け先のお電話番号に直接ご連絡をさせていただきます。</strong></span>弊社の電話番号以外からの発信となりますので、ご了承くださいませ。<br>ご指定場所への到着後、１０分程度は待機可能ですが、ご連絡が取れない場合は置き配または持戻り(再配達不可/キャンセル扱い)となります。<br><span style="text-decoration: underline;"><strong>不在票はありません。再配達、お届け時間の変更等はできません。いかなる理由の場合も、不在によりお渡しができなかった場合の返金はございません。</strong></span></p>
          </section>
        </div>
      </section>

      <section id="deliverLineup" class=" staticSection withBgColor">
        {% section 'deliver-collection-block' %}
      </section>

      <section id="deliverStory" class=" staticSection">
        <h2 class="heading staticSectionHeading nova uppercaseTitle"><span>Delivery Serviceの特徴</span></h2>
        <div class="staticTextWrap is-center">
          <p>お花の引き取りからお届けまで最大約1時間。瑞々しく新鮮な状態でお届けします。</p>
        </div>
        {% section 'deliver-column-block' %}
      </section>

      <div class="backtoTopComponent">
        <a href="#deliverLineup" class="heading ankerLink">商品一覧へ戻る<span class="dropdownArrow">{% render 'icon' with 'arrow' %}</span></a>
      </div>

    </section>
  </div>

  {% section 'common-static-footer' %}

</div>
