{% layout 'password' %}

{% comment %}
  The contents of the password.liquid templates can be found in /sections
{% endcomment %}

<section class="passwordPage">
  <div>
    <header class="passwordHeader">
      <h1 class="logo">
        <img
          src="{{ 'common_logo_wabara.png' | asset_img_url }}"
          data-src="{{ 'common_logo_wabara.png' | asset_img_url: 'master' }}"
          data-widths="[255, 510, 765]"
          data-sizes="auto"
          alt="WABARA" class="lazyload">
      </h1>
      <div class="comingsoon">
        {% render 'svg-comingsoon' %}
      </div>
    </header>

    <div class="passwordContent">
      <div class="passwordMessage">
        {{ shop.password_message }}
      </div>
      <div class="imgWrap">
        <img
          src="{{ 'common_password_bg.jpg' | asset_img_url }}"
          data-src="{{ 'common_password_bg.jpg' | asset_img_url: 'master' }}"
          data-widths="[1150, 2300, 3450]"
          data-sizes="auto"
          alt="" class="lazyload">
      </div>

      <div class="passwordForm formComponent">
        {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <div class="primaryLine">
          <input type="password" name="password" id="password" class="" placeholder="" autofocus>
          <span class="">
            <input type="submit" class="btn" value="管理者ログイン">
          </span>
        </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>

<footer>
  {% comment %}
    Determine whether there are social links
  {% endcomment %}
  {% assign footer_social_enable = false %}
  {% if
    settings.social_twitter_link != blank
    or settings.social_facebook_link != blank
    or settings.social_note_link != blank
    or settings.social_line_link != blank
    or settings.social_instagram_link != blank
  %}
    {% assign footer_social_enable = true %}
  {% endif %}

  <footer class="footer">
    <div class="footerSubNav">
      <div class="footerAside">
        <small class="footerCopyRight">&copy; ROSE UNIVERSE CO., LTD.</small>
        {% if footer_social_enable %}
          <ul class="footerSnsNav social-icons">
            {% if settings.social_instagram_link != blank %}
              <li>
                <a href="{{ settings.social_instagram_link | escape }}" target="_blank" rel="noopener noreferrer">
                  {% render 'icon' with 'instagram' %}
                </a>
              </li>
            {% endif %}
            {% if settings.social_facebook_link != blank %}
              <li>
                <a href="{{ settings.social_facebook_link | escape }}" target="_blank" rel="noopener noreferrer">
                  {% render 'icon' with 'facebook' %}
                </a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li>
                <a href="{{ settings.social_twitter_link | escape }}" target="_blank" rel="noopener noreferrer">
                  {% render 'icon' with 'twitter' %}
                </a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
  </footer>

</footer>
